:root {
    --action-blue: #4F77FF;
    --action-green: #34c635;
    --action-red: red;
    --text-heading: #2D3958;
    --text-text: #7B88A8;
    --primary-color-black: #120F1F;
    --text-color-black: #000;
    --action-purple: #886CFF;
    --Purple-Gradient: linear-gradient(186deg, #61DCDF 0.38%, #886CFF 100%);
    --bgbg-light-alt: #F7F5F1;
    --bg-white: #FFFFFF;
    --black-200: #788190;
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'DM Sans', sans-serif;
    --btn-text-color: #FFFFFF;
    --lines-gray-line: #E7E5EA;
    --bg-gray: #292F3A;
    --text-text-white: #FFF;
    --text-text-gray: #E7E5EA;
    --primary-color-black: #120F1F;
    --bg-bg-light: #F8FAFC;
    --grid--container--width: 1300px;
    --grid: 12;
    --nav-gap: 30px;
}