.hero__container {
    padding-top: 150px;
    padding-bottom: 200px;
    position: relative;
}

.hero__row {
    flex-direction: column;
    align-items: center;
}

.hero__heading {
    color: var(--text-heading);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -2px;
}

.hero__paragraph {
    padding-top: 30px;
    color: var(--text-heading);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.3px;
    text-transform: uppercase;

    span {
        color: var(--text-text);

    }
}