.sidebar {
    flex-direction: column;
    margin: -15px 0;
}

.sidebar__item {
    border-radius: 5px;
    background: var(--bg-bg-light);
    flex-direction: column;
    margin: 15px 0;
}

.sidebar__item-container {
    padding: 20px 30px 30px;
}

.sidebar__search {
    position: relative;
}

.sidebar__search-input {
    padding: 15px 30px 15px 18px;
    border-radius: 5px;
    border: 1px solid var(--lines-gray-line);
    background: var(--bg-white);
}

.sidebar__search-icon {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 180px;
}

.sidebar__search-input::placeholder {
    color: var(--text-text);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    opacity: 0.7;
    padding-left: 5px;
}

.sidebar__item-heading {
    padding-bottom: 20px;
}

.sidebar__article {
    flex-direction: column;

}

.sidebar__article-item {
    align-items: start;
    padding: 10px 0;
}

.sidebar__article-paragraph {
    color: var(--text-text);
    padding-left: 20px;
}

/* top | right | bottom | left */
.sidebar__selectBox {
    padding: 15px 120px 15px 10px;
    opacity: 0.7;
    border-radius: 5px;
    border: 1px solid var(--lines-gray-line);
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.sidebar__tag-group {
    flex-wrap: wrap;

    a {
        border-radius: 5px;
        background: var(--action-blue);
        padding: 0 5px;
        margin: 5px 5px 5px 0;
        color: var(--text-text-white);
        text-align: center;
        font-family: var(--font-secondary);
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: -0.3px;
        text-decoration: none;
    }
}

.sidebar__subscribe {
    position: relative;
}

.sidebar__subscribe-info {
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.sidebar__subscribe-heading {
    color: var(--text-text-white);
    padding-bottom: 40px;
}