*,
*::after,
*::before {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.background {
    background-image: url("../assets/Background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}